<!--Footer-->

<div class="footer">
<br>                                   

<p style="margin-left: 2%;"><font color=#cccccc>Copyright 2019 © Bill Yuan Hong Sun</font></font>

<div class="socialmedia">
    <a href="https://github.com/billyhsun"><img src="static/logos/github.png" alt="gh" width=30></a>
    <a href="https://www.linkedin.com/in/bill-yuan-hong-sun/"><img src="static/logos/linkedin.png" alt="li" width=30></a>
    <a href="https://angel.co/bill-sun-1"><img src="static/logos/angellist.png" alt="li" width=30></a>
    <a href="https://devpost.com/billyhsun"><img src="static/logos/devpost.png" alt="devpost" width=30></a>
    <a href="https://stackoverflow.com/users/11026180/bill-sun"><img src="static/logos/stackoverflow.png" alt="li" width=30></a>
    <a href="mailto:billyuanhong.sun@mail.utoronto.ca"><img src="static/logos/outlook.png" alt="mail" width=30></a>
</div>

</p>
<br><br>
</div>