<!DOCTYPE html>
<html lang="en">
<head>

{% include 'components/head.html' %}

{% include 'components/menu.html' %}

<body background = "static/pics/background3.jpg">
<div style="padding: 0% 10% 0% 10%; margin-top:170px; min-height:800px;">

<!--Main-->
<title>Projects - Bill Sun</title>

<h1>Projects Summary</h1><br>

{% include 'components/projects_slides.html' %}

<br>
<p>Click the images to view the details for each project.</p> 
<br><br>
</div>

{% include 'components/foot.html' %}

</body>
</html>
