<!DOCTYPE html>
<html lang="en">

{% include 'components/head.html' %}

{% include 'components/menu.html' %}

<div style="padding: 0% 10% 0% 10%; margin-top:170px; min-height:800px;">
<body background="static/pics/toronto1.png">

<!--Main-->
<title>Toastmasters - Bill Sun</title>
</head>

<h1>Toastmasters</h1>
<h3>North York Toastmasters Club</h3>

<p><a href="toastmasters.org">Toastmasters Central</a></p>
<p><a href="northyorktoastmasters.com">Club Website</a></p>

<p>I am currently a member of North York Toastmasters Club, serving as the club secretary.</p>

<p>Having been a Toastmasters club member since March 2019, I am presently working towards the Competant Communicator (CC) award, which requires the completion of 10 speeches (or one Toastmasters pathway).</p>

</div>

{% include 'components/foot.html' %}

</body>
</html>